<div class="category-container">
    <a class="badge ">All</a>
    <a class="badge ">Comedy</a>
    <a class="badge ">Action</a>
    <a class="badge ">Romance</a>
    <a class="badge ">War</a>
    <a class="badge ">Horror</a>
    <a class="badge ">History</a>
    <a class="badge ">Sports</a>
    <a class="badge ">Crime</a>
    <a class="badge ">Animation</a>
    <a class="badge ">Drama</a>
    <a class="badge ">Family</a>
    <a class="badge ">Fiction</a>
    <a class="badge ">Science fiction</a>
    <a class="badge ">Resume</a>
    <a class="badge ">Ambiguity</a>
</div>